/target/
.idea/
.vscode/
venv/
/loadtest_3/target/
/playwright_2/target/
/slightly-brittle-webshop/target/
/playwright_2/frontend/node/
/playwright_2/frontend/node_modules/
/playwright_2/frontend/src/generated-sources/
/playwright_2/backend/target/
/playwright_2/frontend/target/
/loadtest_3/target/
/playwright_2/frontend/dist/
/playwright_2/frontend/node_modules/
/playwright_2/frontend/node/
/playwright_2/frontend/target/
/playwright_2/frontend/src/generated-sources/
/playwright_2/testing/node_modules/
/playwright_2/testing/target/
/playwright_2/testing/test-results/
/playwright_2/testing/playwright-report/
/slightly-brittle-webshop/target/
